@model TCC_BUGGY.Models.ViewModels.AtendimentoFormViewModel
@{
   ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>


<h4>Inserir Atendimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
           <div class="form-group">
             <label asp-for="Atendimento.IdCliente" class="control-label"></label>
             <input asp-for="Atendimento.IdCliente" class="form-control" />
         </div>   

          <div class="form-group">
             <label asp-for="Atendimento.IdOcorrencia" class="control-label"></label>
             <input asp-for="Atendimento.IdOcorrencia" class="form-control" />
         </div>   


@*           <div class="form-group">
             <label asp-for="IdUsuario" class="control-label"></label>
             <input asp-for="IdUsuario" class="form-control" />
         </div>   *@

                      <div class="form-group">
             <label asp-for="Atendimento.NomeOcorrencia" class="control-label"></label>
             <select asp-for="Atendimento.NomeOcorrencia" asp-items="@(new SelectList(Model.Ocorrencias,"NomeOcorrencia","NomeOcorrencia"))" class="form-control"></select> 
         </div> 



           <div class="form-group">
             <label asp-for="Atendimento.Complemento" class="control-label"></label>
             <input asp-for="Atendimento.Complemento" class="form-control" />
         </div>    

      @*     <div class="form-group">
             <label asp-for="Atendimento.DataOcorrencia" class="control-label"></label>
             <input asp-for="Atendimento.DataOcorrencia" class="form-control" />
         </div>   *@

           <div class="form-group">
             <label asp-for="Atendimento.Telefone" class="control-label"></label>
             <input asp-for="Atendimento.Telefone" class="form-control" />
         </div>   

         <div class="form-group">
             <input type ="submit" value="Create" class="btn btn-danger" />
         </div>


        </form>

    </div>

</div>